body.dark-mode {
  --text-dark: #fff;
  --soft: #222222; 
  --light: #333333;
  --main: #F8B259;
  --dark: #D96F32; 
}


body.dark-mode header {
  background: var(--dark);
  color: var(--text-dark);
}

body.dark-mode .logo {
  color: var(--text-dark);
}

body.dark-mode .icons i {
  background: rgba(255,255,255,0.1);
}

body.dark-mode .search-bar input {
  background: #444;
  color: #fff;
}

body.dark-mode .card {
  background: var(--light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 1px solid #555;
}

body.dark-mode .tag, body.dark-mode .reset-tag {
  background: #555 !important;
  color: var(--text-dark);
}

body.dark-mode .tag:hover, body.dark-mode .reset-tag:hover {
  background: #777 !important;
}

.tag.active-tag {
  outline: 3px solid #32b326;
  outline-offset: 1px;
}
