:root {
    --c1: #f3e9dc;
    --c2: #d96f32;
    --c3: #c75d2c;
    --c4: #f8b259;
}
body {
    background-image: url("https://i.ytimg.com/vi/QySdKc6OaGI/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.logo {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(3px);
}
.logo-img {
    width: 55px;
    height: auto;
}
.logo-text {
    font-size: 26px;
}
.container {
    width: 90%;
    max-width: 350px;
    background: white;
    padding: 25px 22px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    text-align: center;
    color: var(--c3);
}
input {
    width: 100%;
    padding: 10px 14px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.msg {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    min-height: 18px;
}
button {
    width: 100%;
    padding: 10px;
    background: var(--c2);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: var(--c3);
}
.switch {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: var(--c2);
}
.pass-group {
    position: relative;
}
.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #555;
}
.footer {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 12px;
    color: white;
    backdrop-filter: blur(3px);
}
@media (max-width: 600px) {
    h2 {
        font-size: 1.3rem;
    }
    input,
    button {
        padding: 8px;
    }
    .container {
        margin: 16px;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 30px;
    }
    input,
    button {
        font-size: 1.1rem;
    }
}